# Entorno virtual
venv/
.env
.flaskenv

# Archivos de configuración
__pycache__/
*.pyc
*.pyo
*.pyd

# Base de datos SQLite
*.db
*.sqlite3

# Archivos de migración
migrations/
instance/

# Archivos de log
*.log

# Archivos temporales y caché
.DS_Store
*.swp
*.bak
*.tmp
.cache/
.idea/
.vscode/

# Archivos del sistema operativo
Thumbs.db
ehthumbs.db
